
<section class="container forms">
  <div class="form login">
    <div class="form-content">
      <header>Welcome to Chatster</header>
      <form action="#" [formGroup]="signInForm">

        <app-custom-form-input-text [type]="'email'"
                                    [placeholderValue]="'Email'"
                                    formControlName="email"></app-custom-form-input-text>
        <app-custom-form-input-text [type]="'password'"
                                    [placeholderValue]="'Password'"
                                    formControlName="password"></app-custom-form-input-text>

        <app-custom-button (clickTrigger)="signInWithEmailAndPassword($event)"
                           [name]="'Sign In'"
                           [btnType]="'form-btn'"></app-custom-button>

      </form>

      <div class="form-link">
        <span>Don't have an account? <a routerLink="/auth/sign-up" class="link signup-link">Signup</a></span>
      </div>
    </div>

    <div class="line"></div>

    <div class="media-options">

      <app-custom-button (clickTrigger)="signInGoogle($event)"
                         [name]="'Sign In'"
                         [btnType]="'form-btn-google-sign-in'"></app-custom-button>
    </div>
  </div>
</section>
