<div class="user-panel-container">
  <app-room-list-item></app-room-list-item>
  <app-room-list-item></app-room-list-item>
  <app-room-list-item></app-room-list-item>
  <app-room-list-item></app-room-list-item>
  <app-room-list-item></app-room-list-item>
  <app-room-list-item></app-room-list-item>
  <app-room-list-item></app-room-list-item>
  <app-room-list-item></app-room-list-item>
  <app-room-list-item></app-room-list-item>
  <app-room-list-item></app-room-list-item>
  <app-room-list-item></app-room-list-item>
  <app-room-list-item></app-room-list-item>
  <app-room-list-item></app-room-list-item>
  <app-room-list-item></app-room-list-item>
</div>
