.profile-content-container{
  background-color: #e7e9eb;
  position: relative;
  margin-top: 1.4em;
  width: 40em;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.6em;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.content-data-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
