<ng-container *ngIf="roomData$ | async; let room">
  <app-profile-header [avatar]="room.avatar" [fullName]="room.name"></app-profile-header>

  <div class="profile-action-bar">

    <ng-template [ngIf]="!room.is_private">

        <app-custom-button routerLink="/app/chat/{{room.id}}"
                           (clickTrigger)="joinRoom($event)"
                           [name]="'Join Room'"
                           [btnType]="'action-btn'"></app-custom-button>

        <app-custom-button routerLink="/app/rooms/{{room.id}}"
                           (clickTrigger)="leaveRoom($event)"
                           [name]="'Leave Room'"
                           [btnType]="'action-btn'"></app-custom-button>


      <app-custom-button
        [name]="'Edit'"
        [btnType]="'edit-btn'"></app-custom-button>

      <ng-template [ngIf]="room.owner==myId">
        <app-custom-button
          (clickTrigger)="delete($event)"
          [name]="'Delete'"
          [btnType]="'delete-btn'"></app-custom-button>
      </ng-template>

    </ng-template>

    <ng-template [ngIf]="room.is_private">
      <app-custom-button [name]="'Request Access'"
                         [btnType]="'action-btn'"></app-custom-button>

      <app-custom-button
        [name]="'Edit'"
        [btnType]="'edit-btn'"></app-custom-button>

      <ng-template [ngIf]="room.owner==myId">
        <app-custom-button
          [name]="'Delete'"
          [btnType]="'delete-btn'"></app-custom-button>
      </ng-template>

    </ng-template>
  </div>


  <div class="profile-content-container">

    <app-profile-information-item [label]="createdAtLabel"
                                  [content]="'date'" [date]="room?.created_at"></app-profile-information-item>

    <app-profile-information-item [label]="bioLabel"
                                  [content]="room.bio"></app-profile-information-item>

    <ng-template [ngIf]="room.is_private">
      <app-profile-information-item [label]="typeLabel"
                                    [content]="privateRoomLabel"></app-profile-information-item>
    </ng-template>

    <ng-template [ngIf]="!room.is_private">
      <app-profile-information-item [label]="typeLabel"
                                    [content]="publicRoomLabel"></app-profile-information-item>
    </ng-template>
  </div>

  <!-- add members section -->

</ng-container>
