<div class="container forms">
  <div class="form login">
    <div class="form-content">
      <header>{{createRoomStringLabel}}</header>
      <form action="#" [formGroup]="createRoomForm">

        <app-custom-form-input-text [type]="'text'"
                                    [placeholderValue]="nameLabel"
                                    formControlName="name"></app-custom-form-input-text>

        <app-custom-file-upload formControlName="avatar"></app-custom-file-upload>

        <app-custom-form-input-text [type]="'select'"
                                    [placeholderValue]="nameLabel"
                                    formControlName="is_private"
                                    [optionItems]="isPrivateOptions"></app-custom-form-input-text>

        <app-custom-form-input-text [type]="'text'"
                                    [placeholderValue]="bioLabel"
                                    formControlName="bio"></app-custom-form-input-text>


      </form>

      <div class="line"></div>

      <div class="media-options">

        <div class="error-notification"> {{errors}}</div>

        <app-custom-button (clickTrigger)="createNewRoom($event)"
                           [name]="createRoomBtnLabel"
                           [btnType]="'form-btn-create'"></app-custom-button>
      </div>
    </div>

  </div>
</div>
