<section class="container forms">
  <div class="form login">
    <div class="form-content">
      <header>You have to verify your account</header>
      <form>

        <div>
          <i>If you did not recieve email, you can request verification again.</i>
        </div>

        <div class="field input-field">
          <input type="email" placeholder="Email" class="input">
        </div>

        <div class="field button-field">
          <button>Send Verification Email</button>
        </div>
      </form>

    </div>

  </div>
</section>
