<ng-template [ngIf]="messageData.messageData.sent_by!=myUserId">
  <div class="chat-message-item">
    <div class="chat-message-item-header">
      <img class="avatar"
           src="{{messageData.userData.avatar}}">
    </div>
    <div class="chat-message-item-content">
      <div class="chat-message-item-content-header">
        <div class="chat-message-item-content-title">
          {{messageData.userData.name}}
        </div>
        <div class="chat-message-item-content-time">
          <i>{{messageData.messageData.created_at?.toDate() | date:'short' }}</i>
        </div>
      </div>
      <div class="chat-message-item-text"
           >
        {{messageData.messageData.message}}
      </div>
    </div>
  </div>
</ng-template>


<ng-template [ngIf]="messageData.messageData.sent_by==myUserId">
  <div class="chat-message-item my-message">
    <div class="chat-message-item-content
                            content-my-message">
      <div class="chat-message-item-text">
        {{messageData.messageData.message}}
      </div>
    </div>
  </div>
</ng-template>

