<ng-container *ngIf="userData$ | async; let user">
  <app-profile-header [avatar]="user.avatar" [fullName]="user.name"></app-profile-header>

  <ng-template [ngIf]="user.id!=myId">
    <div class="profile-action-bar">
      <app-custom-button (clickTrigger)="startConversation($event)"
                         [name]="'Start Conversation'"
                         [btnType]="'start-convo-btn'"></app-custom-button>
    </div>
  </ng-template>

  <ng-template [ngIf]="user.id==myId">
    <div class="profile-action-bar">
      <app-custom-button (clickTrigger)="edit($event)"
                         [name]="'Edit'"
                         [btnType]="'edit-btn'"></app-custom-button>

      <app-custom-button (clickTrigger)="delete($event)"
                         [name]="'Delete'"
                         [btnType]="'delete-btn'"></app-custom-button>
    </div>
  </ng-template>



  <div class="profile-content-container">

    <app-profile-information-item [label]="createdAtLabel"
                                  [content]="'date'" [date]="user?.created_at"></app-profile-information-item>

    <app-profile-information-item [label]="usernameLabel"
                                  [content]="user.username"></app-profile-information-item>

    <app-profile-information-item [label]="emailLabel"
                                  [content]="user.email"></app-profile-information-item>

    <app-profile-information-item [label]="genderLabel"
                                  [content]="user.gender"></app-profile-information-item>

    <app-profile-information-item [label]="languageLabel"
                                  [content]="user.language"></app-profile-information-item>

    <app-profile-information-item [label]="bioLabel"
                                  [content]="user.bio"></app-profile-information-item>

    <ng-template [ngIf]="user.is_pro_member== null||user.is_pro_member == undefined || user.is_pro_member == false">
      <app-profile-information-item [label]="proStatusLabel"
                                    [content]="'Not a PRO member'"></app-profile-information-item>
    </ng-template>
    <ng-template [ngIf]="user.is_pro_member">
      <app-profile-information-item [label]="proStatusLabel"
                                    [content]="'PRO member status active'"></app-profile-information-item>
    </ng-template>

  </div>

</ng-container>
