<section class="container forms">
  <div class="form login">
    <div class="form-content">
      <header>Forgot password?</header>
      <form [formGroup]="forgotPasswordForm">

        <div>
          <i>Enter your email and we will send you email with link to reset your password.</i>
        </div>

        <app-custom-form-input-text [type]="'email'"
                                    [placeholderValue]="'Email'"
                                    formControlName="email"></app-custom-form-input-text>

        <app-custom-button (clickTrigger)="forgotPassword($event)"
                           [name]="'Reset Password'"
                           [btnType]="'form-btn'"
                           routerLink="/auth/sign-in"></app-custom-button>

      </form>

    </div>

  </div>
</section>
