<section class="container forms">
  <div class="form signup">
    <div class="form-content">
      <header>Create account</header>
      <form action="#" [formGroup]="signUpForm">

        <app-custom-form-input-text [type]="'text'"
                                    [placeholderValue]="'Full name'"
                                    formControlName="full_name"></app-custom-form-input-text>

        <app-custom-form-input-text [type]="'text'"
                                    [placeholderValue]="'Username'"
                                    formControlName="username"></app-custom-form-input-text>

        <app-custom-form-input-text [type]="'email'"
                                    [placeholderValue]="'Email'"
                                    formControlName="email"></app-custom-form-input-text>

        <app-custom-form-input-text [type]="'select'"
                                    [placeholderValue]="'Gender'"
                                    formControlName="gender"
                                    [optionItems]="genderOptions"></app-custom-form-input-text>

        <app-custom-form-input-text [type]="'select'"
                                    [placeholderValue]="'Language'"
                                    formControlName="language"
                                    [optionItems]="languageOptions"></app-custom-form-input-text>

        <app-custom-file-upload formControlName="avatar"></app-custom-file-upload>

        <app-custom-form-input-text [type]="'text'"
                                    [placeholderValue]="'Bio'"
                                    formControlName="bio"></app-custom-form-input-text>

        <app-custom-form-input-text [type]="'password'"
                                    [placeholderValue]="'Password'"
                                    formControlName="password"></app-custom-form-input-text>

        <app-custom-button (clickTrigger)="signUpWithEmailAndPassword($event)"
                           [name]="'Sign Up'"
                           [btnType]="'form-btn'"></app-custom-button>

      </form>

      <div class="form-link">
        <span>Already have an account? <a routerLink="/auth/sign-in" class="link login-link">Sign In</a></span>
      </div>
    </div>

    <div class="line"></div>

    <div class="media-options">

      <app-custom-button (clickTrigger)="signInGoogle($event)"
                         [name]="'Sign Up'"
                         [btnType]="'form-btn-google-sign-in'"></app-custom-button>

    </div>

  </div>
</section>

{{ signUpForm.value | json }}
