
<h2 style="text-align:center">Pricing</h2>
<p style="text-align:center">If you want to use extra functionalities take a look at our additional services and upgrade your account.</p>


<div class="columns">
  <ul class="price">
    <li class="header">Basic</li>
    <li class="grey">{{ 0 | currency:'EUR'}}</li>
    <li>Chat with other people</li>
    <li>Create rooms and chat together</li>
    <li>Share files inside of conversations</li>
    <li>Search people and rooms in realtime</li>
    <li class="grey"><i>Already active</i></li>
  </ul>
</div>

<div class="columns">
  <ul class="price">
    <li class="header" style="background-color:#397ef6">Pro</li>
    <li class="grey">{{ 10 | currency:'EUR'}}</li>
    <li>Everything from  Free plan included</li>
    <li>Unlimited number of private calls</li>
    <li>You pay only once</li>
    <li>Active forever</li>
    <li class="grey"><a (click)="createPurchaseSession()" class="activate-link">Activate here</a></li>
  </ul>
</div>


